.all-planets-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.planet-item {
  margin: 10px;
  text-align: center;
  position: relative;
}

.planet-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.planet-item.selected img {
  border: 2px solid yellow;
  border-radius: 50%;
}